form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #188049;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #04a79e;
    border-radius: 4px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  textarea.form-control {
    resize: vertical; /* Permite redimensionar verticalmente solo el textarea */
  }
  
  .btn-primary {
    background-color: #0f976e; /* Color de fondo azul */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .btn-primary:hover {
    background-color: #00b3a7; /* Color de fondo más oscuro al hacer hover */
  }
.feedback-comment {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f0f8ff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
    font-family: 'Trebuchet MS', sans-serif;
    color: #333;
  }
  
  .feedback-comment p {
    font-size: 20px;
    line-height: 1.8;
    color: #2c3e50; /* Color del texto */
    font-weight: 600; /* Peso de la fuente */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra del texto */
  }
