<form [formGroup]="formCont" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre Completo</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="nombre">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="mensaje"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<div class="feedback-comment">
    <p>
      ¡Nos interesa tu opinión! Tu experiencia con nuestra página es muy valiosa para nosotros, y queremos asegurarnos de que estamos brindando el mejor servicio posible. Escríbenos sobre tu experiencia, lo que te gustó, lo que no te gustó y cualquier sugerencia que tengas para mejorar. Cada comentario nos ayuda a crecer y a ofrecerte una mejor experiencia en el futuro. ¡Gracias por ayudarnos a mejorar!
    </p>
  </div>
