nav {
    height: 130px;
}

/* CSS for name company */
.namecompany {
    font-family: Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

#pages{
    width: 100%;
}

/* footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
