<div class="cars">
    <h1 class="text-center">
        Nuestros Carros
    </h1>
    <div class="cards card-group row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
        @for (c of ourCars; track c; let i = $index) {
        <div class="col">
            <div class="card h-100">
                <img src="{{c.img}}" alt="..." class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{c.name}}</h5>
                    <p class="card-text">{{c.year}}</p>
                    <p class="card-text"><small class="text-muted">USD ${{c.pricerent}}</small></p>
                </div>
                <button [routerLink]="['/cars',i]" class="mb-3 btn btn-success">Renta</button>
            </div>
        </div>
        }
    </div>
</div>
