<div class="us">
    <h1>Integrantes del equipo</h1>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card">
                <img src="../../assets/images/AAA.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Adrian Alonso Arambula</h5>
                    <p class="card-text">
                        ID: 322129
                        <br>
                        Frase: "Ayuda hijos de la..."
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/images/JLOV.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">José Luis Ornelas Valadez</h5>
                    <p class="card-text">
                        ID: 262545
                        <br>
                        Frase: "XD"
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/images/JR.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Juan Rodolfo Aranda Cisneros</h5>
                    <p class="card-text">
                        ID: 290589
                        <br>
                        Frase: "Me dicen el comal porque caliento a las gorditas 🥴🥴"
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/images/AHB.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Andrés Heredia BallIn</h5>
                    <p class="card-text">
                        ID: 226961
                        <br>
                        Frase: "Murió como vivió, con una increíble adicción al fentanilo"
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- aviso -->
    <div class="alert alert-warning" role="alert">
        <h1>Aviso</h1>
        <p>
            Este proyecto fue realizado con fines educativos, por lo que no se recomienda su uso en producción.
        </p>
    </div>
</div>