<div class="us" [ngClass]="{'dark-theme': isDarkMode}">
    <h1>Integrantes del equipo</h1>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col" *ngFor="let member of teamMembers" [ngStyle]="{ 'background-color': 'withe' }">
            <div class="card">
                <img [src]="member.image" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ member.name }}</h5>
                    <p class="card-text">
                        ID: {{ member.id }}
                        <br>
                        Frase: "{{ member.quote }}"
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- aviso -->
    <div class="alert alert-warning" role="alert">
        <h1>Aviso</h1>
        <p>
            Este proyecto fue realizado con fines educativos, por lo que no se recomienda su uso en producción.
        </p>
    </div>
</div>
