<div class="panel">
  <div class="panel-header">
    <h1>Welcome to DiveRent</h1>
  </div>
  <div class="panel-body">
    <p>this is car rental website. You can rent a car from here</p>
  </div>
</div>

<div class="info">
  <div class="container text-center">
    <div class="row row-cols-2">
      <div class="col-12">
        <div class="p-3 info-title">DriveRent</div>
      </div>
      <div class="col-12">
        <div class="p-3 info-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur laboriosam
          facere deleniti, dicta tempora eum totam reiciendis ullam. Quaerat qui vitae natus accusantium quibusdam ex
          neque sed atque voluptatum eum!</div>
      </div>
    </div>
  </div>
</div>

<div class="objetives">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="circle">
          <i class="fa-solid fa-user-shield" style="color: #37a484;"></i>
        </div>
        <div>
          <p>Seguridad</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur laboriosam facere deleniti, dicta
            tempora eum totam reiciendis ullam. Quaerat qui vitae natus accusantium quibusdam ex neque sed atque
            voluptatum eum!
          </p>
        </div>
      </div>
      <div class="col">
        <div class="circle">
          <i class="fa-solid fa-car" style="color: #37a484;"></i> 
        </div>
        <div>
          <p>Variedad</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur laboriosam facere deleniti, dicta
            tempora eum totam reiciendis ullam. Quaerat qui vitae natus accusantium quibusdam ex neque sed atque
            voluptatum eum!
          </p>
        </div>
      </div>
      <div class="col">
        <div class="circle">
          <i class="fa-solid fa-credit-card" style="color: #37a484;"></i>
        </div>
        <div>
          <p>Facilidad de pago</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur laboriosam facere deleniti, dicta
            tempora eum totam reiciendis ullam. Quaerat qui vitae natus accusantium quibusdam ex neque sed atque
            voluptatum eum!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cars">
  <!-- Or cars masonry-->
  <div class="grid">
    <div class="grid-item grid-item--width2 grid-item--height2">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="grid-item grid-item--width2 grid-item--height2">
      
    </div>
    <div class="grid-item grid-item--width2 grid-item--height2">

    </div>
    <div class="grid-item grid-item--width2 grid-item--height2">

    </div>
  </div>
</div>
<br>
<footer>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <p>DriveRent</p>
      </div>
      <div class="col">
        <p>© 2021 DriveRent</p>
      </div>
    </div>
  </div>
</footer>