<div>
  <form [formGroup]="formCita" (ngSubmit)="onSubmit()">
    <h2>Renta de Automóviles</h2>
    <p>
      <label>Fecha:</label>
      <input type="date" class="form-control" formControlName="fecha" min="{{currentDate | date:'yyyy-MM-dd'}}" >
    </p>
    <p>
      <label>Hora:</label>
      <input type="time" class="form-control" formControlName="hora">
    </p>
    <p>
      <label>Nombre de quien reserva:</label>
      <input type="text" class="form-control" formControlName="nombre">
    </p>
    <p>
      <label>Teléfono de quien reserva:</label>
      <input type="tel" class="form-control" formControlName="telefono">
    </p>
    <p>
      
    <label>Correo de quien reserva:</label>
      <input type="email" class="form-control" formControlName="correo">
    </p>

    <p>
      <label>Total de días que lo necesita:</label>
        <select class="form-control" formControlName="dias">
          @for (dias of dias; track dias) {
                <option value="{{dias.id}}">{{dias.nombre}}</option>
            }
        </select>
        @if (selected.hasError('required')) {
          <mat-error>Tiene que elegir una opcion</mat-error>
        }
      
    </p>
    <p>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </p>
  </form>
    
    
  </div>
