<div class="car row">
    <div class="col md-3 text-center carimg">
        <a [routerLink]="['/cars']" class="btn"><i class="fa-solid fa-left-long" style="color: #ffffff;"></i></a>
        <img src="{{car.img}}" alt="Car Image">
    </div>
    <div class="col md-8 car-info">
        <h2>{{car.name}}</h2>
        <p class="car-brand">Marca: {{car.brand}}</p>
        <p class="car-year">Año: {{car.year}}</p>
        <p class="car-desc">Descripción: {{car.description}}</p>
        <p class="car-price">USD ${{car.pricerent}}</p>
    </div>
    <h3 *ngIf="!this.loggedIn" style="color: rgb(175, 0, 0); text-align: center;">Renta solo disponible para usuarios logueados</h3>
</div>
<app-alta-datos *ngIf="this.loggedIn" [precio]="car.pricerent" [marca]="car.brand" [anio]="car.year" [modelo]="car.name" (propagar)="procesaPropagar($event)"></app-alta-datos>

